#about_hero {
  width: 100%;
  height: 100vh;
  padding: 65px 1.5rem 0.5rem;
}
#about_hero_container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

#about_hero_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about_hero_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  color: #ffffff;
}

#about_hero_overlay h2 {
  font-family: heading-bold;
  font-weight: 700;
  font-size: 4.3rem;
  line-height: 1.1;
}

.about_hero_dets {
  width: 100%;
  padding-left: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#about_hero_overlay p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 1.1rem;
  vertical-align: middle;
  letter-spacing: 0.5px;
}

/* about_info */

#about_info {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#about_info_container {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 1fr 1fr;
  padding: 1.5rem;
}

.about_info_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2.5rem;
  gap: 1rem;
  position: relative;
}
.about_info_card::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0.1vw;
  height: 20%;
  background-color: #ff7006;
}
.about_info_card:last-child::after {
  display: none;
}
#about_info_container img {
  height: 1.5rem;
  width: auto;
}
.about_info_card h5 {
  font-family: para-bold;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #000;
}
.about_info_card p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
}

/* leadership_section */

#leadership_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

#leadership_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 2.5rem 2rem;
}

#leadership_section_header {
  display: flex;
  justify-content: space-between;
}

#leadership_section_header h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
  margin-bottom: 0.5rem;
}
#leadership_section_header p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

#leadership_section_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: stretch;
}

.leadership_section_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 100%;
}
.leadership_section_card.last {
  gap: 2rem;
}
.leader_profile_wrap {
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  position: relative;
}

.leader_profile {
  width: 100px;
  height: 100px;
  background-color: #ff7006;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
}
.leadership_section_card.last .leader_profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leadership_section_card:nth-child(3) .leader_profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_name p {
  font-family: para-bold;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #000;
  margin-bottom: 0.1rem;
}
.profile_name span {
  font-family: para-regular;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #00000080;
}
.leadership_section_card.last .mentor {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #ff7006;
  position: absolute;
  top: 0;
  right: 0;
}

.leadership_section_card.last img {
  width: 1.8rem;
  height: auto;
}
.leadership_section_card:nth-child(3) img {
  width: 1.8rem;
  height: auto;
}
.leader_profile img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.leader_description {
  padding-left: calc(100px + 1rem);
  font-family: para-bold;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #000;
  margin-bottom: 0.1rem;
  width: 90%;
}

/* Mobile */
@media (max-width: 480px) {
  #about_hero {
    padding: 65px 1rem 0.5rem;
  }
  #about_hero_overlay {
    padding: 5rem 1rem;
  }
  #about_hero_overlay h2 {
    font-size: 1.6rem;
  }
  .about_hero_dets {
    padding-left: 0%;
  }
  .image_container {
    width: 100%;
    height: 100%;
  }
  .about_info_card:after {
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 0;
    width: 5rem;
    height: 1px;
  }

  #leadership_section {
    padding: 0.5rem 1rem;
  }
  #leadership_section_container {
    padding: 2rem 1rem;
  }
  #leadership_section_header h4 {
    font-size: 2rem;
  }
  #about_info {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  #about_info_container {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin-top: 1rem;
  }
  .leader_description {
    width: 100%;
    margin: 1rem;
    margin-bottom: 0.1rem;
    padding-left: 0;
    font-size: 1rem;
  }
  .leader_profile {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
  }
  .leadership_section_card {
    padding: 2rem 1rem;
  }
  .leadership_section_card.last .mentor {
    top: -1rem;
    right: 0;
  }
  #leadership_section_header {
    flex-direction: column;
  }
  #leadership_section_cards {
    grid-template-columns: repeat(1, 100%);
    margin-top: 1rem;
  }
  .leader_description {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .profile_name span {
    font-size: 0.8rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Tablets + small laptops */
@media (min-width: 769px) and (max-width: 1285px) {
}

/* Large screens */
@media (min-width: 1286px) {
}
