#gallery_main {
  width: 100%;
  padding: 0.5rem 3.5rem;
  padding-top: calc(65px + 4rem);
}

#gallery_main_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#gallery_main h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
  margin-bottom: 0.5rem;
}
#gallery_main p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

#gallery_image_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#gallery_image_container .gallery_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all ease 0.6s;
}
#gallery_image_container:has(.gallery_card:hover) .gallery_card:not(:hover) {
  filter: grayscale(100);
  opacity: 0.7;
}
#gallery_image_container .gallery_card:hover img {
  scale: 1.02;
}

#gallery_image_container .gallery_card h5 {
  font-family: para-bold;
  font-weight: 800;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #000000;
  margin-bottom: 2rem;
}

.gallery_card_img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 15px;
}

.gallery_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: scale ease 0.6s;
  will-change: scale;
}

/* Mobile */
@media (max-width: 480px) {
  #gallery_main {
    padding: calc(65px + 4rem) 1rem 0.5rem;
  }
  #gallery_main h4 {
    font-size: 2rem;
  }
  #gallery_image_container {
    grid-template-columns: repeat(1, 1fr);
  }
  #gallery_image_container .gallery_card h5 {
    margin-bottom: 0.5rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Tablets + small laptops */
@media (min-width: 769px) and (max-width: 1285px) {
}

/* Large screens */
@media (min-width: 1286px) {
}
