#investor_hero {
  width: 100%;
  padding: 0.5rem 3.5rem;
  padding-top: calc(65px + 4rem);
}

#investor_hero_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#investor_hero_title h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
  margin-bottom: 0.5rem;
}
#investor_hero_title p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
}

/* report_section */

#report_section {
  width: 100%;
  height: auto;
  padding: 0.5rem 3.5rem;
  padding-top: 2rem;
}

#investor_filter_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #000000b3;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0000001a;
  margin-bottom: 2rem;
  overflow-x: auto;
}
/* Chrome, Edge, Safari */
#investor_filter_wrap::-webkit-scrollbar {
  height: 1px;           /* thin scrollbar */
}

#investor_filter_wrap::-webkit-scrollbar-track {
  background: transparent;
}

#investor_filter_wrap::-webkit-scrollbar-thumb {
  background: #004dff;   /* blue */
  border-radius: 10px;
}
#investor_filter_wrap > span {
  position: relative;
  line-height: 1.2;
}

#investor_filter_wrap > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
}
#investor_filters {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.investor_filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.investor_filter.active {
  color: #004dff;
  font-family: para-bold;
  font-weight: 800;
}

#report_header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 4rem;
}

#report_header h5 {
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  font-family: para-bold;
  font-size: 1.1rem;
  font-weight: 900;
  white-space: nowrap;
}

#report_filter {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}
/* Chrome, Edge, Safari */
#report_filter::-webkit-scrollbar {
  height: 4px; /* thin */
}

#report_filter::-webkit-scrollbar-track {
  background: transparent;
}

#report_filter::-webkit-scrollbar-thumb {
  background: #004dff; /* blue */
  border-radius: 10px;
}
#report_filter::-webkit-scrollbar {
  display: none;
}
#report_filter span {
  padding: 1rem;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: para-regular;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}
#report_filter span.active {
  color: #004dff;
  font-family: para-bold;
  font-weight: 800;
  border-bottom: 1px solid #004dff;
}

#report_table {
  width: 100%;
  height: auto;
  color: rgba(0, 0, 0, 0.7);
  font-family: para-regular;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1;
}

.report_row_title {
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  font-family: para-bold;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 1.2rem 0;
}
.report_row {
  width: 100%;
  padding: 1.2rem 1rem;
  background-color: #0000000d;
  border-bottom: 1px solid #0000001a;
  cursor: pointer;
}
.report_row.transparent {
  background-color: transparent;
}

.report_row a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.report_row:hover a {
  color: #004dff;
}
.report_row p {
  line-height: 1.5;
}
.report_row strong {
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  font-family: para-bold;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 1rem 0;
  display: inline-block;
}

/* Mobile */
@media (max-width: 480px) {
  #investor_hero {
    padding: calc(65px + 4rem) 1rem 0.5rem;
    overflow: hidden;
  }
  #investor_hero_title h4 {
    font-size: 2rem;
  }
  #investor_filter_wrap {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
  }
  #report_section {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 0.5rem;
  }
  #report_header {
    gap: 1rem;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
    overflow: hidden;
  }
  #report_filter {
    width: 100%;
    align-items: center;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .report_row{
    line-height: 1.4;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 480px) and (max-width: 768px) {
 #investor_hero {
    padding: calc(65px + 4rem) 1.5rem 0.5rem;
    overflow: hidden;
  }
  #investor_hero_title h4 {
    font-size: 2rem;
  }
  #investor_filter_wrap {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
  }
  #report_section {
    width: 100%;
    height: auto;
    padding: 2rem 1.5rem 0.5rem;
  }
  #report_header {
    gap: 1rem;
    align-items: flex-start;
    white-space: nowrap;
    flex-direction: column;
    overflow: hidden;
  }
  #report_filter {
    width: 100%;
    align-items: center;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .report_row{
    line-height: 1.4;
  }
}

/* Tablets + small laptops */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* Tablets + small laptops */
@media (min-width: 1024px) and (max-width: 1285px) {
}
