#investor_hero {
  width: 100%;
  padding: 0.5rem 3.5rem;
  padding-top: calc(65px + 4rem);
}

#investor_hero_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#investor_hero_title h4 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2.8rem;
  color: #000000b3;
  margin-bottom: 0.5rem;
}
#investor_hero_title p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #000000b3;
  margin-bottom: 2.5rem;
}

#investor_filter_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #000000b3;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0000001a;
}
#investor_filter_wrap > span {
  position: relative;
  line-height: 1.2;
}

#investor_filter_wrap > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  bottom: 0;
  left: 0;
}
#investor_filters {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.investor_filter_drop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.investor_filter_drop:nth-child(1) {
  color: #004dff;
  font-family: para-bold;
  font-weight: 800;
}