#product_info_section {
  width: 100%;
  padding: 0.5rem 1.5rem;
  padding-top: 65px;
}

#product_info_section_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 2rem 2rem 2.5rem;
}

#change_product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#change_product a {
  text-decoration: none;
}

#change_product span {
  display: flex;
  align-items: center;
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #00000080;
  cursor: pointer;
}

#change_product span svg {
  color: #004dff;
  margin-top: 0.1rem;
}

#product_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  text-align: center;
}
#product_preview {
  display: flex;
  gap: 1rem;
}
.product_sample {
  width: 160px;
  height: 160px;
  border-radius: 15px;
}
.product_sample.center {
  box-shadow: 0 0 20px 0 #00000031;
}
.product_title_box {
  margin: 1rem 0 1.5rem;
}
.product_title_box h5 {
  font-family: para-bold;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}
.product_title_box p {
  font-family: para-regular;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #00000080;
}

.product_tags_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product_application {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.product_application span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: para-bold;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #000;
}
.product_application span svg {
  color: #ff7006;
}
.product_application span:nth-child(1) {
  font-family: para-regular;
  font-weight: 400;
}

.product_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 480px) {
  #product_info_section {
    padding: 65px 1rem 0.5rem;
  }
  .product_application {
    flex-wrap: wrap;
  }
  .product_btns {
    flex-wrap: wrap;
  }
  .product_btns .button {
    width: 100%;
  }
  .product_title_box h5 {
    font-size: 2rem;
  }
  .product_sample {
    border-radius: 15px;
    width: 100px;
    height: 100px;
  }
  #product_info_section_container {
    padding: 2rem 1rem 2.5rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 480px) and (max-width: 768px) {
   #product_info_section {
    padding: 65px 1.5rem 0.5rem;
  }
  .product_application {
    flex-wrap: wrap;
  }
  .product_btns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product_title_box h5 {
    font-size: 2rem;
  }
  .product_sample {
    border-radius: 15px;
    width: 100px;
    height: 100px;
  }
  #product_info_section_container {
    padding: 2rem 1rem 2.5rem;
  }
}

/* Tablets + small laptops */
@media (min-width: 768px) and (max-width: 900px) {
}
/* Tablets + small laptops */
@media (min-width: 900px) and (max-width: 1285px) {
}
