@font-face {
  font-family: heading-regular;
  src: url(/fonts/HelveticaNeueLTW1GRoman.woff2);
}
@font-face {
  font-family: heading-medium;
  src: url(/fonts/HelveticaNeueLTW1GBd.woff2);
}
@font-face {
  font-family: heading-bold;
  src: url(/fonts/HelveticaNeueLTW1GHvEx.woff2);
}

@font-face {
  font-family: para-regular;
  src: url(/fonts/HelveticaNowDisplay-Regular.woff2);
}
@font-face {
  font-family: para-medium;
  src: url(/fonts/HelveticaNowDisplay-Medium.woff2);
}
@font-face {
  font-family: para-bold;
  src: url(/fonts/HelveticaNowDisplay-Bold.woff2);
}

:root {
  --background-color: #f3f3f3;
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --text-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.button {
  min-width: 180px;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  color: #000;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #00000033;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1),
    background-color 0.6s cubic-bezier(0.76, 0, 0.24, 1),
    border-color 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}
.button:hover{
  background-color: #004dff;
  color: white;
  border-color: #004dff;
}
.button.fit:hover{
  background-color: #ff7006;
  color: white;
  border-color: #ff7006;
}
.btn-text {
  position: relative;
}
.btn-text-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}
.button:hover .btn-text-wrap:nth-child(1) {
  transform: translateY(-150%) scale(0.8);
  opacity: 0;
  filter: blur(5px);
}
.btn-text-wrap:nth-child(2) {
  position: absolute;
  top: 0;
  left: auto;
  transform: translateY(150%) scale(1.2);
  opacity: 0;
  filter: blur(5px);
}
.button:hover .btn-text-wrap:nth-child(2) {
  transform: translateY(0%) scale(1);
  opacity: 1;
  filter: blur(0px);
}
.button h6 {
  font-size: 0.7rem !important;
  font-weight: 700 !important;
  line-height: 1;
  margin-top: 0.6px !important;
  font-family: para-regular !important;
  letter-spacing: 0.8px !important;
}

.button svg {
  font-size: 0.75rem;
}

.button.orange {
  color: #ff7006;
  border: 1px solid #ff7006;
}
.button.fit {
  min-width: fit-content !important;
}

.button.full {
  min-width: 100% !important;
  width: 100%;
  height: auto;
}
.button.full .btn-text {
  width: 100%;
}
.button.full .btn-text-wrap {
  justify-content: space-between !important;
  width: 100%;
}
.button.blue {
  min-width: 14% !important;
  height: auto;
  border: none;
  background-color: #004dff;
  color: #fff;
}

.button.blue-border {
  border: 2px solid #004dff;
  color: #004dff;
  background-color: transparent;
}

.button.size {
  width: 220px;
}


main{
  width: 100%;
  overflow: hidden;
}


/* Mobile */
@media (max-width: 480px) {}

/* Bigger phones + small tablets */
@media (min-width: 481px) and (max-width: 768px) {}

/* Tablets + small laptops */
@media (min-width: 769px) and (max-width: 1285px) {}

/* Large screens */
@media (min-width: 1286px) {}
