nav {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  line-height: 1;
  position: fixed;
  top: 0;
  z-index: 9;
}

.logo-container {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.logo-container img {
  width: 4.5rem;
  height: auto;
  cursor: pointer;
}

.logo-container p {
  color: #00000080;
  font-weight: 500;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: right;
  font-family: heading-regular;
}

.menu-container {
  width: 25%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}
.menu-container p {
  color: #000;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: heading-medium;
  vertical-align: middle;
  position: relative;
  z-index: 9;
}
#menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.15rem;
  position: relative;
  z-index: 9;
}
.open #menu-icon {
  gap: 0.245rem;
}

.m-line {
  width: 1rem;
  height: 0.1rem;
  background-color: #ff7006;
  border-radius: 2px;
  transition: all ease 0.3s;
  will-change: opacity, transform;
}

.m-line:nth-child(2) {
  width: 0.75rem;
}
.menu-container.open .m-line:nth-child(2) {
  opacity: 0;
}

.menu-container.open .m-line:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: left top;
}

.menu-container.open .m-line:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.menu-container-dropdown {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  padding-top: calc(65px - 1rem);
  background-color: #fff;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  box-shadow: 0 4 10 0 rgba(0, 0, 0, 0.08);
  clip-path: inset(0 0 0% 0);
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.7s cubic-bezier(0.87, 0, 0.13, 1);
}
.menu-container.open .menu-container-dropdown {
  clip-path: inset(0 0 0% 0);
}
.menu-container-dropdown ul {
  width: 100%;
  list-style: none;
  padding: 0 1rem 0.2rem;
  color: #00000080;
  font-weight: 600;
  font-size: 0.9rem;
  font-style: black;
  text-transform: capitalize;
  font-family: para-regular;
  vertical-align: middle;
  letter-spacing: 0.6px;
}
.menu-container-dropdown li {
  padding: 1rem 0.2rem;
  border-bottom: 1px solid #0000001a;
  position: relative;
}
.menu-container-dropdown li a {
  text-decoration: none;
  color: #00000080;
  overflow: hidden;
  display: inline-block;
}
.menu-container-dropdown li.active a {
  color: #004dff;
  font-family: para-medium;
  font-weight: 900;
}
.menu-container-dropdown li span {
  position: relative;
  display: inline-block;
  line-height: 1.2;
  transform: translateY(100%);
  transition: transform 0.8s cubic-bezier(0.87, 0, 0.13, 1) 0.1s;
}
.menu-container.open .menu-container-dropdown li span {
  transform: translateY(0%);
}
.menu-container-dropdown li.active span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #004dff;
}
.menu-container-dropdown li:last-child {
  border: none;
}

.input-container {
  width: 36%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.input-container svg {
  position: relative;
  z-index: 2;
}
.input-container input {
  width: 100%;
  border: none;
  outline: none !important;
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: heading-regular;
  background-color: transparent;
  margin-top: 0.24rem;
  color: #00000080;
  position: relative;
  z-index: 2;
}
.input-container input::placeholder {
  font-weight: 400;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: heading-regular;
  background-color: transparent;
}

.search-container-dropdown {
  clip-path: inset(0 0 100%);
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  padding: 0 .5rem;
  padding-top: calc(65px - 1rem);
  padding-bottom: 1rem;
  transition: clip-path 0.7s cubic-bezier(0.87, 0, 0.13, 1);
  position: absolute;
  top: 0%;
  left: 0;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.search-dropdown-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: opacity 0.7s cubic-bezier(0.87, 0, 0.13, 1);
  padding: .5rem;
  padding-bottom: 0;
}
.input-container.open .search-dropdown-wrapper{
  opacity: 1;
}

/* Scrollbar width */
.search-dropdown-wrapper::-webkit-scrollbar {
  width: 2px;
}

/* Scrollbar track (background) */
.search-dropdown-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb (the draggable part) */
.search-dropdown-wrapper::-webkit-scrollbar-thumb {
  background: #004dff;
  border-radius: 10px;
}

.search-container-dropdown ul {
  list-style: none;
}
.search-container-dropdown li {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 9;
  font-family: heading-medium;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search-container-dropdown li a {
  text-decoration: none;
  width: 100%;
  color: rgb(0, 0, 0);
  padding: 0.8rem 1rem;
  display: inline-block;
}
.search-container-dropdown li:hover a{
  color: #004dff;
}
.search-container-dropdown p {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 9;
  font-family: heading-medium;
  font-size: 0.8rem;
  font-weight: 600;
  position: relative;
  padding: 1rem 1rem .3rem;
  color: rgba(0, 0, 0, 0.2);
}
.input-container.open .search-container-dropdown {
  clip-path: inset(0 0 0%);
}
.input-container.no-data .search-container-dropdown {
  height: 100px;
}
.input-container.no-data .search-dropdown-wrapper::-webkit-scrollbar-thumb {
  display: none;
}
.input-container.no-data .search-container-dropdown p{
padding-top: .5rem;
}

/* request_form */
#request_form {
  width: 100%;
  height: 100svh;
  background-color: #000000cc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#request_form_container {
  width: 500px;
  background: #fff;
  border-radius: 12px;
  padding: 2rem 2.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: "Inter", sans-serif;
}

#request_form_container h2 {
  font-family: heading-medium;
  font-weight: 500;
  font-size: 2rem;
  color: #000000b3;
  margin-bottom: 0.5rem;
}

#request_form_container p {
  color: #555;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-family: para-regular;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

#request_form_container label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.4rem;
}

#request_form_container input,
#request_form_container textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s ease;
  resize: none;
  font-family: para-regular;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#request_form_container input:focus,
#request_form_container textarea:focus {
  border-color: #004dff;
}

#request_form_container button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 2px solid #004dff;
  color: #fff;
  background-color: #004dff;
  font-family: para-bold;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 480px) {
  nav {
    padding: 0.5rem 1rem;
  }
  .logo-container,
  .input-container {
    display: none;
  }
  nav .button {
    display: none;
  }
  .menu-container {
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
  }
}

/* Bigger phones + small tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* Tablets + small laptops */
@media (min-width: 769px) and (max-width: 1285px) {
}

/* Large screens */
@media (min-width: 1286px) {
}
